/* ----------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------- */

@media (max-width: 1200px) {
  .apresentacao {
    flex-direction: column-reverse;
    padding: 5%;
  }

  .cabecalho {
    /* o principal esta diferente do que esta no Alura */
  }

  .apresentacao__conteudo__home {
    width: auto;
  }

  .apresentacao__links__link {
    padding: 15px 0 15px 0;
    width: 40%;
  }
}
