/* fonte "Krona One" do "Google Fonts" */
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {                                     /* define variaveis no css */
    --cor-primaria: #222831;              /* background */
    --cor-secundaria: #EEEEEE;            /* letra */
    --cor-terciaria: #00ADB5;             /* letra destacada */
    --cor-hover: #393E46;                 /* passar mouse em cima botao */

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {                                         /* reseta as config padroes do site */
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh;    define que o "BODY" ficara c/ espaço 100% da tela Viewport-Height, se torna a estrutura pai (boa pratica) */
    box-sizing: border-box;                 /* define que os componentes filho nao saiam do pai para fora da tela (boa pratica) */
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

h1 {
    font-weight: bold;                      /* texto em negrito */
}

span {
    color: var(--cor-terciaria);
    border: 4px solid var(--cor-terciaria);            /* largura e cor da borda solida */
    padding: 10px;
}

.cabecalho {
    padding: 2% 5% 2% 5%;                    /* norte x direita x sul x esquerda */
    background-color: #0b0a0a;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 90%;
    top: 0;
}

.cabecalho__menu {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.cabecalho__menu__link {
    color: var(--cor-terciaria);
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
}

.cabecalho__menu__link:hover {
    text-decoration: underline;
}

.apresentacao {
    padding: 10% 10%;                     /* vertical x horizontal */
    display: flex;                        /* permite manipular os elementos filhos do container para novas propriedades */
    align-items: center;                  /* centraliza os itens entre eles */
    justify-content: space-between;       /* alinha os elementos ao longo do eixo principal */
    gap: 82px;
}

.apresentacao__conteudo__home {
    width: 50%;                     /* delimita o tamanho da caixa de texto na horizontal */
    height: 930px;                    /* delimita o tamanho da caixa de texto na vertical */
    display: flex;                    /* permite manipular os elementos filhos do container para novas propriedades */
    flex-direction: column;           /* ordena o display flex do horizontal para colunas na vertical */
    gap: 40px;
}

.apresentacao__conteudo__sobremim {
    width: 760px;
    height: 825px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__curriculo {
    width: 760px;
    height: 970px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__inspiracoes {
    width: 760px;
    height: 930px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__inspiracoes__fotos {
    width: 760px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__cabecalho {
    text-align: center;                      /* Define o alinhamento horizontal e depois centraliza */
    font-family: var(--fonte-primaria);
    padding: 0 0 3% 0;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.apresentacao__conteudo__titulo2 {
    text-align: center;                      /* Define o alinhamento horizontal e depois centraliza */
    font-family: var(--fonte-primaria);
    font-weight: 600;
    color: var(--cor-secundaria);
    font-size: 2rem;
    padding: 0 0 2% 0;
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__paragrafo {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__conteudo__paragrafo a{
    text-decoration: none;
    color: var(--cor-terciaria);
}

.apresentacao__links {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__link {
    display: flex;
    justify-content: center;
    gap: 16px;
    background-color: var(--cor-primaria);
    width: 50%;                           /* Delimita o tamanho da caixa de texto na horizontal */
    text-align: center;                     /* Centraliza o item individualmente */
    border-radius: 10px;                    /* Arredondamento da borda */
    border: 2px solid var(--cor-terciaria);
    font-size: 1.5rem;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-weight: 600;
}

.apresentacao__links__link:hover {
    background-color: var(--cor-hover);
    gap: 20px;
}

.apresentacao__links__icone {
    align-items: center;                    /* centralizou os itens entre eles */
}

.apresentacao__foto {
    border-radius: 50px;
    border: 6px solid var(--cor-terciaria); 
    max-width: 45%;
    width: 50%;
}

.apresentacao__foto__inspiracoes {
    border-radius: 50px;
    border: 6px solid var(--cor-terciaria); 
    max-width: 55%;
}

.rodape {
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 2% 5% 2% 5%;
    width: 90%;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    bottom: 0;
}













@media (max-width:1200px) {
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .cabecalho {
        /* o principal esta diferente do que esta no Alura */
    }

    .apresentacao__conteudo__home {
        width: auto;
    }

    .apresentacao__links__link {
        padding: 15px 0 15px 0;
        width: 40%;
    }
}