/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */
/* For Tablets Normais (768px - 991px) */
/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */

@media only screen and (min-width: 768px) and (max-width: 991px) {
  main {
    padding-top: 90px;
    min-height: 1vh;
  }

  .firstSection {
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 4vw;
  }

  .right__side__firstSection {
    /* border: 1px solid red; */
  }

  /* Foto */
  .right__side__firstSection > img {
    border-radius: 20px;
    min-width: auto;
    min-height: 200px;
    width: auto;
    height: auto;
    max-width: auto;
    max-height: 400px;
  }

  .left__side__firstSection {
    /* border: 1px solid blue; */
    gap: 1vw;
  }

  .apresentacao {
    /* border: 1px solid red; */
    padding: 20px 15%;
    text-align: center;
    gap: 3.5vw;
  }

  .apresentacao > h1 {
    font-size: 2.1vw;
  }

  /* borda azul ao redor de Front-End em titulo */
  .apresentacao > h1 > span {
    border: 0.4vw solid var(--cor-terciaria);
  }

  .apresentacao > h2 {
  }

  .apresentacao > h2 > strong {
  }

  .apresentacao > p {
  }

  .apresentacao__links {
    /* border: 1px solid red; */
    gap: 2vw;
    margin-bottom: 20px;
  }

  .apresentacao__links__botao {
    width: 35%;
  }
}
