/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */
/* For Tablets Normais (768px - 991px) */
/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */

@media only screen and (min-width: 768px) and (max-width: 991px) {
  main {
    padding-top: 90px;
    min-height: 1vh;
  }

  .firstSection {
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 12px;
  }

  .right__side__firstSection {
    /* border: 1px solid blue; */
    padding: 30px 0px;
  }

  /* FOTO */
  .right__side__firstSection > img {
    border-radius: 20px;
    min-width: auto;
    min-height: 150px;
    width: auto;
    height: 400px;
    max-width: auto;
    max-height: 400px;
  }

  .left__side__firstSection {
    /* border: 1px solid green; */
    padding: 0% 5%;
    gap: 12px;
  }

  .apresentacao {
    /* border: 1px solid red; */
    text-align: center;
    padding: 10px 0%;
    gap: 35px;
  }

  .apresentacao > h1 {
    font-size: 35px;
  }

  .apresentacao > h1 > span {
    border: none;
  }

  .apresentacao > h2 {
    font-size: 27px;
  }

  .apresentacao > p {
    font-size: 23px;
  }

  #vamosConversar {
    font-size: 27px;
  }

  .apresentacao__links {
    /* border: 1px solid red; */
    gap: 25px;
    margin-bottom: 35px;
  }

  .apresentacao__links > h2 {
    font-size: 5vw;
    margin: 10px;
  }

  .apresentacao__links__botao {
    width: 45vw;
    font-size: 4vw;
    padding: 3%;

    display: flex;
    gap: 15px;
  }

  #botaoGitHubVictor {
    display: flex;
    gap: 20px;
  }

  .apresentacao__links__icone {
    width: 15%;
  }
}
