/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */
/* For Mobile Devices (up to 767px) */
@media only screen and (max-width: 767px) {
  body {
    min-height: 10px;
  }

  main {
    padding-top: 45px;
    min-height: 1vh;
  }

  .firstSection {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 12px;
  }

  .right__side__firstSection {
    /* border: 1px solid red; */
  }

  .right__side__firstSection > img {
    min-width: auto;
    min-height: 80px;
    width: auto;
    height: 100vh;
    max-width: auto;
    max-height: 150px;
  }

  .left__side__firstSection {
    gap: 12px;
  }

  .apresentacao {
    /* border: 1px solid red; */
    text-align: center;
    padding: 0% 10%;
    gap: 3.5vw;
  }

  .apresentacao__links {
    /* border: 1px solid red; */
    gap: 2vw;
  }
}

/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */
/* For Tablets (768px - 991px) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  body {
    min-height: 10px;
  }

  main {
    padding-top: 80px;
    min-height: 1vh;
  }

  .firstSection {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 4vw;
  }

  .right__side__firstSection {
    /* border: 1px solid red; */
  }

  .right__side__firstSection > img {
    min-width: auto;
    min-height: 20vw;
    width: auto;
    height: auto;
    max-width: auto;
    max-height: 40vw;
  }

  .left__side__firstSection {
    gap: 2.5vw;
  }

  .apresentacao {
    /* border: 1px solid red; */
    text-align: center;
    padding: 0% 10%;
    gap: 3.5vw;
  }

  .apresentacao > h1 {
    font-size: 2.1vw;
  }

  /* borda azul ao redor de Front-End em titulo */
  .apresentacao > h1 > span {
    border: 0.4vw solid var(--cor-terciaria);
  }

  .apresentacao > h2 {
  }

  .apresentacao > h2 > strong {
  }

  .apresentacao > p {
  }

  .apresentacao__links {
    /* border: 1px solid red; */
    gap: 2vw;
  }
}

/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */
/* For Laptops (992px - 1199px) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  body {
  }
}

/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */
/* For Desktops (1200px and above) */
@media only screen and (min-width: 1200px) {
  body {
  }
}
