/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */
/* For Laptops + Desktops (992 and above) */
/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */

@media only screen and (min-width: 992px) {
}

body {
  /* define que os componentes filho nao saiam do pai para fora da tela (boa pratica) */
  /* box-sizing: border-box;  */

  min-height: 100vh;
  width: 100%;
}

main {
  padding-top: calc(2vh + 75px);
  min-height: 100vh;
  width: 100%;
}

.firstSection {
  /* border: 2px solid red; */
  padding: 0.3%;

  display: grid;
  grid-template-columns: 47% 47%;
  justify-content: center;
}

.left__side__firstSection {
  /* border: 1px solid red; */
  padding: 0% 10%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.apresentacao {
  /* border: 1px solid blue; */
  padding: 1% 3%;

  display: flex;
  flex-direction: column;
  gap: 2vw;
}

.apresentacao > h1 {
  text-align: center;
  font-family: var(--fonte-primaria);
  font-size: 1.25vw;
}

/* borda azul ao redor de Front-End em titulo */
.apresentacao > h1 > span {
  color: var(--cor-terciaria);
  border: 0.25vw solid var(--cor-terciaria);
  padding: 0.5vw;
}

.apresentacao > h2 {
  font-size: 1.8vw;
  font-family: var(--fonte-primaria);
  text-align: center;
}

.apresentacao > h2 > strong {
  color: var(--cor-terciaria);
}

.apresentacao > p {
  font-size: 1.25vw;
  font-family: var(--fonte-secundaria);
}

.apresentacao__links {
  /* border: 1px solid red; */
  padding: 2% 5%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vw;
}

.apresentacao__links > h2 {
  font-family: var(--fonte-primaria);
  font-weight: 400;
  font-size: 1.4vw;
}

.apresentacao__links__botao {
  background-color: var(--cor-primaria);
  color: var(--cor-secundaria);
  font-family: var(--fonte-secundaria);
  font-weight: 600;
  font-size: 1.3vw;

  border-radius: 10px;
  border: 0.15vw solid var(--cor-terciaria);

  padding: 3% 0;
  text-decoration: none;

  width: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}

.apresentacao__links__botao:hover {
  background-color: var(--cor-hover);
  gap: 1.5vw;
}

.apresentacao__links__icone {
  width: 1.7vw;
}

.right__side__firstSection {
  /* border: 1px solid red; */

  display: flex;
  justify-content: center;
  align-items: center;
}

.right__side__firstSection > img {
  max-height: 90%;
  max-width: 90%;

  min-height: 60%;
  min-width: 60%;

  border: 0.4vw solid var(--cor-terciaria);
  border-radius: 50px;
}
