/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */
/* For Tablets (768px - 991px) */
/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .cabecalho__menu {
    padding: 30px 5%;
  }

  .cabecalho__menu__link {
    font-size: 1.2rem;
    /* border-bottom: 1px solid var(--cor-terciaria); */
    padding-bottom: 5px;
    animation: fadeInOut 8s infinite;
  }

  @keyframes fadeInOut {
    0%,
    100% {
      border-bottom: 1px solid black;
    }
    50% {
      border-bottom: 1px solid var(--cor-terciaria);
    }
  }

  footer {
    height: 9vh;
  }

  .rodape {
    font-size: calc(2.7vw + 9px);
  }
}
