/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */
/* For Tablets (768px - 991px) */
/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .cabecalho__menu {
    padding: 20px 5%;
  }

  .cabecalho__menu__link {
    font-size: 2vw;
  }

  footer {
    height: 7vh;
  }

  .rodape {
    font-size: 2vw;
  }
}
