/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */
/* For Mobile Devices (up to 767px) */
/* 320px — 480px: Dispositivos Móveis */
/* 481px — 768px: Mini Tablets */
/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */

@media only screen and (max-width: 767px) {
  .cabecalho__menu {
    padding: 15px 5%;
  }

  .cabecalho__menu__link {
    font-size: 2vw;
  }

  footer {
    height: 6vh;
  }

  .rodape {
    font-size: 1.3vw;
  }
}
