/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */
/* For Mobile Devices (up to 767px) */
/* 320px — 480px: Dispositivos Móveis */
/* 481px — 768px: Mini Tablets */
/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */

@media only screen and (max-width: 767px) {
  .cabecalho__menu {
    padding: 30px 5%;
  }

  .cabecalho__menu__link {
    font-size: 1.2rem;
    /* border-bottom: 1px solid var(--cor-terciaria); */
    padding-bottom: 5px;
    animation: fadeInOut 8s infinite;
  }

  @keyframes fadeInOut {
    0%,
    100% {
      border-bottom: 1px solid black;
    }
    50% {
      border-bottom: 1px solid var(--cor-terciaria);
    }
  }

  .cabecalho__menu__link:hover {
    text-decoration: none;
  }

  footer {
    height: 8vh;
  }

  .rodape {
    font-size: calc(2.7vw + 9px);
  }
}
